<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="text-center mt-5">
        <h2><%= t('.title', user_name: current_user.name) %></h2>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3 mt-3">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_name', name: resource.unconfirmed_name) %></div>
      <% end %>

      <div class="field mb-3 mt-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="field mb-3 mt-3">
        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
      </div>

      <div class="field mb-3 mt-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field mb-3 mt-3">
        <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="text-center mb-3 mt-3">
        <%= f.submit t('.update'), class: "btn btn-primary" %>
      </div>
      
      <% end %>
      <div class="text-center mb-5 mt-2">
        <h3><%= t('.cancel_my_account') %></h3>
          <div><%= t('.unhappy') %></div><br />
          <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure'), turbo_confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-danger" %>
      </div>
      <%= link_to t('devise.shared.links.back'), :back, class: "btn btn-link" %>
    </div>
  </div>
</div>
